In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('listings.csv.gz')

In [3]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20210208155251,2021-02-11,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,3159,https://www.airbnb.com/users/show/3159,...,10.0,9.0,10.0,NaN,t,1,0,1,0,1.92
1,20168,https://www.airbnb.com/rooms/20168,20210208155251,2021-02-11,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,59484,https://www.airbnb.com/users/show/59484,...,10.0,10.0,9.0,NaN,t,2,0,2,0,2.54
2,25428,https://www.airbnb.com/rooms/25428,20210208155251,2021-02-10,"Lovely, spacious 1 bed apt in Center(with lift)",Lovely apt in Centre ( lift & fireplace) near ...,NaN,https://a0.muscache.com/pictures/138431/7079a9...,56142,https://www.airbnb.com/users/show/56142,...,10.0,10.0,10.0,NaN,f,1,1,0,0,0.13
3,27886,https://www.airbnb.com/rooms/27886,20210208155251,2021-02-11,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,https://www.airbnb.com/users/show/97647,...,10.0,10.0,10.0,NaN,t,1,0,1,0,1.98
4,28871,https://www.airbnb.com/rooms/28871,20210208155251,2021-02-10,Comfortable double room,<b>The space</b><br />In a monumental house ri...,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,https://www.airbnb.com/users/show/124245,...,10.0,10.0,10.0,NaN,f,2,0,2,0,2.63

In [4]:
df.shape

(18291, 74)

In [5]:
df2 = df.copy()

In [6]:
df_numeric = df.select_dtypes(include=['float64'])

In [7]:
df_string = df.select_dtypes(include=['object'])

In [8]:
df_int = df.select_dtypes(include=['int'])

In [9]:
print(df_numeric.shape)
print(df_string.shape)
print(df_int.shape)

(18291, 24)
(18291, 33)
(18291, 17)

In [10]:
df_numeric.describe()

,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,bathrooms,bedrooms,beds,minimum_minimum_nights,maximum_minimum_nights,...,calendar_updated,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,reviews_per_month
count,18228.000000,18228.000000,0.0,18291.000000,18291.000000,0.0,17294.000000,18186.000000,18288.000000,18288.000000,...,0.0,15659.000000,15649.000000,15649.000000,15641.000000,15648.000000,15643.000000,15643.000000,0.0,15902.000000
mean,3.244459,3.244459,NaN,52.365478,4.889504,NaN,1.534405,1.765259,3.683454,3.861494,...,NaN,95.107287,9.690907,9.457857,9.750911,9.794926,9.513456,9.202071,NaN,0.591448
std,56.575963,56.575963,NaN,0.016559,0.035833,NaN,0.959211,1.444775,16.287296,16.389708,...,NaN,7.035600,0.728646,0.914985,0.659262,0.636390,0.705519,0.832326,NaN,1.065085
min,0.000000,0.000000,NaN,52.289270,4.755940,NaN,1.000000,0.000000,1.000000,1.000000,...,NaN,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,0.010000
25%,1.000000,1.000000,NaN,52.355100,4.863920,NaN,1.000000,1.000000,2.000000,2.000000,...,NaN,93.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,0.130000
50%,1.000000,1.000000,NaN,52.364790,4.887010,NaN,1.000000,1.000000,2.000000,2.000000,...,NaN,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,0.280000
75%,1.000000,1.000000,NaN,52.375370,4.909230,NaN,2.000000,2.000000,3.000000,3.000000,...,NaN,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,0.580000
max,7235.000000,7235.000000,NaN,52.425120,5.027690,NaN,50.000000,35.000000,1001.000000,1001.000000,...,NaN,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,35.530000

In [11]:
df_numeric.isnull().sum()

host_listings_count                63
host_total_listings_count          63
neighbourhood_group_cleansed    18291
latitude                            0
longitude                           0
bathrooms                       18291
bedrooms                          997
beds                              105
minimum_minimum_nights              3
maximum_minimum_nights              3
minimum_maximum_nights              3
maximum_maximum_nights              3
minimum_nights_avg_ntm              3
maximum_nights_avg_ntm              3
calendar_updated                18291
review_scores_rating             2632
review_scores_accuracy           2642
review_scores_cleanliness        2642
review_scores_checkin            2650
review_scores_communication      2643
review_scores_location           2648
review_scores_value              2648
license                         18291
reviews_per_month                2389
dtype: int64

In [12]:
drop_list = ['neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated', 'license']

In [13]:
drop_list.extend(['latitude', 'longitude'])

In [14]:
df_numeric.drop(columns = drop_list, axis = 1).head()

,host_listings_count,host_total_listings_count,bedrooms,beds,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,1.0,1.0,1.0,2.0,3.0,3.0,1125.0,1125.0,3.0,1125.0,98.0,10.0,10.0,10.0,10.0,9.0,10.0,1.92
1,2.0,2.0,1.0,1.0,1.0,4.0,60.0,1125.0,3.8,413.8,89.0,10.0,10.0,10.0,10.0,10.0,9.0,2.54
2,2.0,2.0,1.0,1.0,14.0,14.0,180.0,180.0,14.0,180.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.13
3,1.0,1.0,1.0,1.0,2.0,2.0,1125.0,1125.0,2.0,1125.0,99.0,10.0,10.0,10.0,10.0,10.0,10.0,1.98
4,2.0,2.0,1.0,1.0,2.0,2.0,1825.0,1825.0,2.0,1825.0,97.0,10.0,10.0,10.0,10.0,10.0,10.0,2.63

In [15]:
df_numeric.drop(columns = drop_list, axis = 1).describe()

,host_listings_count,host_total_listings_count,bedrooms,beds,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
count,18228.000000,18228.000000,17294.000000,18186.000000,18288.000000,18288.000000,18288.000000,1.828800e+04,18288.000000,1.828800e+04,15659.000000,15649.000000,15649.000000,15641.000000,15648.000000,15643.000000,15643.000000,15902.000000
mean,3.244459,3.244459,1.534405,1.765259,3.683454,3.861494,688.285652,2.355498e+05,3.768269,2.350138e+05,95.107287,9.690907,9.457857,9.750911,9.794926,9.513456,9.202071,0.591448
std,56.575963,56.575963,0.959211,1.444775,16.287296,16.389708,536.932318,2.245690e+07,16.347635,2.240609e+07,7.035600,0.728646,0.914985,0.659262,0.636390,0.705519,0.832326,1.065085
min,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000e+00,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.010000
25%,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,28.000000,2.800000e+01,2.000000,2.800000e+01,93.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,0.130000
50%,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1125.000000,1.125000e+03,2.000000,1.125000e+03,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,0.280000
75%,1.000000,1.000000,2.000000,2.000000,3.000000,3.000000,1125.000000,1.125000e+03,3.000000,1.125000e+03,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,0.580000
max,7235.000000,7235.000000,50.000000,35.000000,1001.000000,1001.000000,11250.000000,2.147484e+09,1001.000000,2.142625e+09,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,35.530000

In [16]:
df_int.describe()

,id,scrape_id,host_id,accommodates,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,1.829100e+04,1.829100e+04,1.829100e+04,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000
mean,2.064229e+07,2.021021e+13,6.705998e+07,2.837570,3.727407,611.559565,5.950467,12.473621,19.262315,61.923132,24.125198,1.520147,0.023892,2.647477,2.111366,0.476628,0.009404
std,1.285836e+07,0.000000e+00,8.666877e+07,1.282434,16.331468,545.438112,11.195839,22.753660,34.282051,115.602325,54.560889,6.552857,0.260227,8.724302,8.545412,1.457147,0.153398
min,2.818000e+03,2.021021e+13,3.159000e+03,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,1.010732e+07,2.021021e+13,9.282300e+06,2.000000,2.000000,21.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,1.911168e+07,2.021021e+13,2.810956e+07,2.000000,2.000000,1125.000000,0.000000,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,3.039472e+07,2.021021e+13,8.650474e+07,4.000000,3.000000,1125.000000,0.000000,9.000000,18.000000,78.000000,22.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,4.807786e+07,2.021021e+13,3.871652e+08,16.000000,1001.000000,11250.000000,30.000000,60.000000,90.000000,365.000000,859.000000,380.000000,10.000000,85.000000,84.000000,21.000000,5.000000

In [17]:
df_int.isnull().sum()

id                                              0
scrape_id                                       0
host_id                                         0
accommodates                                    0
minimum_nights                                  0
maximum_nights                                  0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
dtype: int64

In [18]:
df_string.head()

,listing_url,last_scraped,name,description,neighborhood_overview,picture_url,host_url,host_name,host_since,host_location,...,property_type,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable
0,https://www.airbnb.com/rooms/2818,2021-02-11,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,https://www.airbnb.com/users/show/3159,Daniel,2008-09-24,"Amsterdam, Noord-Holland, The Netherlands",...,Private room in apartment,Private room,1.5 shared baths,"[""Hangers"", ""Coffee maker"", ""Paid parking on p...",$59.00,t,2021-02-11,2009-03-30,2020-02-14,t
1,https://www.airbnb.com/rooms/20168,2021-02-11,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,https://www.airbnb.com/users/show/59484,Alexander,2009-12-02,"Amsterdam, Noord-Holland, The Netherlands",...,Private room in townhouse,Private room,1 private bath,"[""Essentials"", ""Bed linens"", ""Hot water"", ""Han...",$129.00,t,2021-02-11,2010-03-02,2020-04-09,t
2,https://www.airbnb.com/rooms/25428,2021-02-10,"Lovely, spacious 1 bed apt in Center(with lift)",Lovely apt in Centre ( lift & fireplace) near ...,NaN,https://a0.muscache.com/pictures/138431/7079a9...,https://www.airbnb.com/users/show/56142,Joan,2009-11-20,"New York, New York, United States",...,Entire apartment,Entire home/apt,1 bath,"[""Hangers"", ""Elevator"", ""Cooking basics"", ""Dis...",$125.00,t,2021-02-10,2018-01-21,2020-02-09,f
3,https://www.airbnb.com/rooms/27886,2021-02-11,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,https://www.airbnb.com/users/show/97647,Flip,2010-03-23,"Amsterdam, Noord-Holland, The Netherlands",...,Private room in houseboat,Private room,1.5 baths,"[""Patio or balcony"", ""Hangers"", ""Dishes and si...",$125.00,t,2021-02-11,2012-01-09,2020-07-25,t
4,https://www.airbnb.com/rooms/28871,2021-02-10,Comfortable double room,<b>The space</b><br />In a monumental house ri...,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,https://www.airbnb.com/users/show/124245,Edwin,2010-05-13,"Amsterdam, Noord-Holland, The Netherlands",...,Private room in apartment,Private room,1 shared bath,"[""Hot water"", ""Essentials"", ""Smoke alarm"", ""Ha...",$75.00,t,2021-02-10,2010-08-22,2020-09-20,f

In [19]:
df_string.columns

Index(['listing_url', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_url', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_cleansed', 'property_type', 'room_type',
       'bathrooms_text', 'amenities', 'price', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review',
       'instant_bookable'],
      dtype='object')

In [20]:
drop_list_string = ['listing_url', 'last_scraped', 'name', 'picture_url', 'host_url', 'host_name', 'host_thumbnail_url', \
                    'host_picture_url']
potential_important_string = ['host_since', 'host_location', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',\
                             'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',\
                             'property_type', 'room_type', 'bathrooms_text', 'instant_bookable', 'last_review']
maybe_string = ['description', 'host_about', 'neighborhood_overview', 'host_location', 'host_response_time', \
                'host_neighborhood', 'host_verifications', 'host_has_profile_pic', 'amenities', 'has_availability',\
                'first_review']
target = ['price']

In [21]:
df_string['host_about'][0]

'Upon arriving in Amsterdam, one can imagine asking oneself: Where is the fun nightlife? What are the local hot spots? \r\n\r\nHow can I experience the real life in this city? I  offer you the opportunity to act, eat and sleep like-a-local!  \r\n\r\nI provide the traveler with the opportunity to connect with the local life in Amsterdam.'

In [22]:
df_string['description'][0]

'Quiet Garden View Room & Super Fast WiFi<br /><br /><b>The space</b><br />I\'m renting a bedroom (room overlooking the garden) in my apartment in Amsterdam, <br /><br />The room is located to the east of the city centre in a quiet, typical Amsterdam neighbourhood the "Indische Buurt". Amsterdamâ€™s historic centre is less than 15 minutes away by bike or tram.<br /><br /><br />The features of the room are:<br /><br />- Twin beds (80 x 200 cm, down quilts and pillows) <br />- 2 pure cotton towels for each guest <br />- reading lamps<br />- bedside table<br />- wardrobe<br />- table with chairs<br />- tea and coffee making facilities<br />- mini bar<br />- alarm clock<br />- Hi-Fi system with cd player, connection for mp3 player / phone<br />- map of Amsterdam and public transport<br />- Wi-Fi Internet connection <br /><br />Extra services:<br /><br />- Bike rental'

In [23]:
df_string['neighborhood_overview'][0]

'Indische Buurt ("Indies Neighborhood") is a neighbourhood in the eastern portion of the city of Amsterdam, in the Dutch province of Noord-Holland. The name dates from the early 20th century and is derived from the fact that the neighbourhood\'s streets are named after islands and other geographical concepts in the former Dutch colony of the Dutch East Indies. The first street was named in 1902. In 2003, there were around 23,357 inhabitants. The neighbourhood is bounded on the west by the railroad Amsterdam - Hilversum (with the Muiderpoort Station), on the east side by Flevopark, on the north side by Zeeburgerdijk and on the south side by the Ringvaart Watergraafsmeer. Indische Buurt is the oldest part of the Zeeburg district and is very ethnically diverse, and a high percentage of the population is of immigrant origin (for Zeeburg this is already high at 55%, but higher in the Indische Buurt) and there are an estimated 100 languages spoken.'

In [24]:
df_string['last_scraped'].value_counts()

2021-02-09    7486
2021-02-10    6051
2021-02-11    3301
2021-02-08    1453
Name: last_scraped, dtype: int64

In [25]:
df_string['host_location'].value_counts()

Amsterdam, North Holland, Netherlands                   10046
Amsterdam, North Holland, The Netherlands                3515
NL                                                       1549
Amsterdam, Noord-Holland, The Netherlands                1153
Netherlands                                               520
                                                        ...
Pilar, Buenos Aires Province, Argentina                     1
Amstelveen, Noord-Holland, The Netherlands                  1
Pierrefeu-du-Var, Provence-Alpes-CÃ´te d'Azur, France        1
Tilburg, North Brabant, The Netherlands                     1
Papamoa, Bay of Plenty, New Zealand                         1
Name: host_location, Length: 534, dtype: int64

In [26]:
df_string['host_response_time'].value_counts()

within an hour        1800
within a day           900
within a few hours     838
a few days or more     399
Name: host_response_time, dtype: int64

In [27]:
df_string['host_response_rate'].value_counts()

100%    2794
0%       286
50%      106
90%       81
70%       69
60%       63
67%       55
80%       55
75%       53
33%       43
89%       41
88%       30
93%       23
86%       22
96%       17
83%       16
82%       15
63%       15
41%       13
40%       12
65%       12
77%       11
95%       11
91%        7
38%        7
57%        6
92%        6
72%        6
97%        5
78%        5
25%        5
17%        4
30%        4
85%        4
20%        3
29%        3
94%        3
64%        3
99%        3
10%        3
43%        2
53%        2
73%        2
56%        2
71%        2
44%        2
31%        2
58%        1
11%        1
14%        1
Name: host_response_rate, dtype: int64

In [28]:
df_string['host_acceptance_rate'].value_counts()

100%    3638
0%       812
50%      407
99%      253
67%      217
        ...
23%        1
7%         1
41%        1
15%        1
10%        1
Name: host_acceptance_rate, Length: 89, dtype: int64

In [29]:
df_string['host_is_superhost'].value_counts()

f    15849
t     2379
Name: host_is_superhost, dtype: int64

In [30]:
df_string['host_neighbourhood'].value_counts()

Oud-West           2482
De Pijp            1061
Grachtengordel      728
Jordaan             685
Oosterparkbuurt     675
                   ...
Sant Antoni           1
East Wall             1
Friedrichshain        1
Shepherd's Bush       1
Cannaregio            1
Name: host_neighbourhood, Length: 76, dtype: int64

In [31]:
df_string['host_verifications']

0        ['email', 'phone', 'reviews', 'jumio', 'offlin...
1        ['email', 'phone', 'reviews', 'jumio', 'offlin...
2                            ['email', 'phone', 'reviews']
3        ['email', 'phone', 'reviews', 'jumio', 'offlin...
4        ['email', 'phone', 'reviews', 'jumio', 'offlin...
                               ...
18286                ['email', 'phone', 'identity_manual']
18287    ['email', 'phone', 'facebook', 'reviews', 'jum...
18288                          ['email', 'phone', 'jumio']
18289    ['phone', 'facebook', 'jumio', 'offline_govern...
18290                                   ['email', 'phone']
Name: host_verifications, Length: 18291, dtype: object

In [32]:
df_string['host_has_profile_pic'].value_counts()
# maybe category due to lack of variance

t    18199
f       29
Name: host_has_profile_pic, dtype: int64

In [33]:
df_string['host_identity_verified'].value_counts()

t    11918
f     6310
Name: host_identity_verified, dtype: int64

In [34]:
df_string['neighbourhood'].value_counts()

Amsterdam, Noord-Holland, Netherlands             9534
Amsterdam, North Holland, Netherlands             1490
Amsterdam, NH, Netherlands                         700
Amsterdam, Netherlands                             110
Amsterdam-Zuidoost, Noord-Holland, Netherlands      57
                                                  ...
Amsterdam-Zuidoost, NL                               1
Amsterdam, Noord-Holland 6, Netherlands              1
Amsterdam Noord, NH, Netherlands                     1
Amsterdam, Zeedijk, Netherlands                      1
Amsterdam, Amsterdam North, Netherlands              1
Name: neighbourhood, Length: 67, dtype: int64

In [35]:
df_string['neighbourhood_cleansed'].value_counts()

De Baarsjes - Oud-West                    3044
De Pijp - Rivierenbuurt                   2269
Centrum-West                              2000
Centrum-Oost                              1560
Westerpark                                1395
Zuid                                      1309
Oud-Oost                                  1181
Bos en Lommer                             1047
Oostelijk Havengebied - Indische Buurt     875
Oud-Noord                                  586
Watergraafsmeer                            530
IJburg - Zeeburgereiland                   423
Slotervaart                                411
Noord-West                                 369
Noord-Oost                                 255
Buitenveldert - Zuidas                     252
Geuzenveld - Slotermeer                    214
De Aker - Nieuw Sloten                     126
Osdorp                                     125
Gaasperdam - Driemond                      121
Bijlmer-Centrum                            103
Bijlmer-Oost                                96
Name: neighbourhood_cleansed, dtype: int64

In [36]:
df_string['property_type'].value_counts()

Entire apartment                     11393
Private room in apartment             2218
Entire house                          1198
Entire townhouse                       472
Private room in bed and breakfast      344
                                     ...
Shared room in loft                      1
Bus                                      1
Cave                                     1
Entire home/apt                          1
Entire chalet                            1
Name: property_type, Length: 65, dtype: int64

In [37]:
df_string['room_type'].value_counts()

Entire home/apt    14283
Private room        3831
Hotel room           127
Shared room           50
Name: room_type, dtype: int64

In [38]:
df_string['bathrooms_text'].value_counts()

1 bath               10677
1.5 baths             3473
1 shared bath         1210
1 private bath        1043
2 baths                802
1.5 shared baths       466
2.5 baths              239
3 baths                 96
3.5 baths               43
Half-bath               39
0 baths                 38
Shared half-bath        32
2 shared baths          29
0 shared baths          15
4 baths                 13
Private half-bath       11
3 shared baths          10
3.5 shared baths         8
2.5 shared baths         6
4 shared baths           5
4.5 baths                4
8 baths                  3
5 baths                  2
6 baths                  2
12 baths                 1
13 baths                 1
5.5 baths                1
Name: bathrooms_text, dtype: int64

In [39]:
df_string['amenities'].value_counts()

["Long term stays allowed"]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 45
["Essentials", "Smoke alarm", "Kitchen", "Hangers", "Washer", "Heating", "Iron", "Dedicated workspace", "Shampoo", "TV", "Cable TV", "Wifi", "Hair dryer", "Long term stays allowed", "Dryer"]                                                                                                                                                                                                                                                                                                                              21
["Essentials", "Smoke alarm", "Washer", "Heating", "TV", "Cable TV", "Wifi", "Kitchen", "Long term stays allowed", "Dryer"]                                                                                                                                                                                                                                                                                                                                                                                                 21
["Essentials", "Washer", "Heating", "TV", "Cable TV", "Wifi", "Kitchen", "Long term stays allowed"]                                                                                                                                                                                                                                                                                                                                                                                                                         18
["Essentials", "Smoke alarm", "Kitchen", "Hangers", "Washer", "Heating", "Iron", "Carbon monoxide alarm", "Dedicated workspace", "Shampoo", "TV", "Cable TV", "Wifi", "Hair dryer", "Long term stays allowed", "Dryer"]                                                                                                                                                                                                                                                                                                     13
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ..
["Stove", "Cleaning before checkout", "Hangers", "Heating", "Refrigerator", "Cooking basics", "Dishes and silverware", "Garden or backyard", "Oven", "Coffee maker", "Dedicated workspace", "Host greets you", "Single level home", "Wifi", "Kitchen", "Long term stays allowed", "Microwave"]                                                                                                                                                                                                                               1
["Cooking basics", "BBQ grill", "Dishes and silverware", "Oven", "Coffee maker", "Bed linens", "Private entrance", "Dishwasher", "Dedicated workspace", "Single level home", "Kitchen", "Hot water", "Heating", "Garden or backyard", "TV", "Hair dryer", "Microwave", "Essentials", "Smoke alarm", "Stove", "Washer", "Refrigerator", "Iron", "Wifi", "Fire extinguisher"]                                                                                                                                                  1
["Patio or balcony", "Hangers", "Cooking basics", "Dishes and silverware", "Oven", "Coffee maker", "Long term stays allowed", "Dishwasher", "Dedicated workspace", "Kitchen", "Hot water", "Heating", "TV", "Hair dryer", "Essentials", "Smoke alarm", "Stove", "Washer", "Refrigerator", "Iron", "Indoor fireplace", "Shampoo", "Wifi"]                                                                                                                                                                                     1
["Patio or balcony", "Hangers", "Cooking basics", "BBQ grill", "Dishes and silverware", "Oven", "Coffee maker", "Long term stays allowed", "Bed linens", "Private entrance", "Dishwasher", "Carbon monoxide alarm", "Dedicated workspace", "Host greets you", "Kitchen", "Hot water", "Paid parking off premises", "Heating", "TV", "Cable TV", "Hair dryer", "Essentials", "Smoke alarm", "Stove", "Washer", "Children\u2019s books and toys", "Refrigerator", "Iron", "Shampoo", "Wifi", "Fire extinguisher", "Dryer"]     1
["Patio or balcony", "Hangers", "Cooking basics", "Dishes and silverware", "Luggage dropoff allowed", "Oven", "Coffee maker", "First aid kit", "Bed linens", "Waterfront", "Dishwasher", "Carbon monoxide alarm", "Dedicated workspace", "Host greets you", "Kitchen", "Extra pillows and blankets", "Hot water", "Paid parking off premises", "Heating", "Cable TV", "Hair dryer", "Essentials", "Smoke alarm", "Washer", "Refrigerator", "Shampoo", "Wifi", "Fire extinguisher"]                                           1
Name: amenities, Length: 16744, dtype: int64

In [40]:
df_string['has_availability'].value_counts()
# maybe due to lack of variance

t    17889
f      402
Name: has_availability, dtype: int64

In [41]:
df_string['instant_bookable'].value_counts()

f    13914
t     4377
Name: instant_bookable, dtype: int64

In [42]:
df_string['calendar_last_scraped'].value_counts()

2021-02-09    7486
2021-02-10    6051
2021-02-11    3301
2021-02-08    1453
Name: calendar_last_scraped, dtype: int64

In [43]:
df_string['first_review'].value_counts()

2016-03-30    65
2017-04-17    60
2016-05-08    60
2016-01-03    57
2020-01-02    51
              ..
2012-06-12     1
2019-01-07     1
2014-02-10     1
2020-10-18     1
2013-12-29     1
Name: first_review, Length: 2598, dtype: int64

In [44]:
df_string['last_review'].value_counts()

2020-01-02    259
2020-01-01    191
2020-02-16    170
2020-03-08    162
2020-01-03    146
             ...
2017-03-09      1
2020-04-19      1
2015-10-31      1
2016-03-22      1
2018-11-27      1
Name: last_review, Length: 1833, dtype: int64

In [45]:
# potential_important_string = ['host_since', 'host_location', 'response_rate', 'host_acceptance_rate', 'host_is_superhost'\
#                              'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',\
#                              'property_type', 'room_type', 'bathrooms_text', 'instant_bookable', 'last_review']
# maybe_string = ['description', 'host_about', 'neighborhood_overview', 'host_location', 'host_response_time', \
#                 'host_neighborhood', 'host_verifications', 'host_has_profile_pic', 'amenities', 'has_availability',\
#                 'first_review']
# target = ['price']

In [46]:
df[potential_important_string].head()

,host_since,host_location,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,neighbourhood,neighbourhood_cleansed,property_type,room_type,bathrooms_text,instant_bookable,last_review
0,2008-09-24,"Amsterdam, Noord-Holland, The Netherlands",NaN,100%,t,t,"Amsterdam, North Holland, Netherlands",Oostelijk Havengebied - Indische Buurt,Private room in apartment,Private room,1.5 shared baths,t,2020-02-14
1,2009-12-02,"Amsterdam, Noord-Holland, The Netherlands",NaN,100%,f,t,"Amsterdam, North Holland, Netherlands",Centrum-Oost,Private room in townhouse,Private room,1 private bath,t,2020-04-09
2,2009-11-20,"New York, New York, United States",NaN,0%,t,f,NaN,Centrum-West,Entire apartment,Entire home/apt,1 bath,f,2020-02-09
3,2010-03-23,"Amsterdam, Noord-Holland, The Netherlands",100%,100%,t,t,"Amsterdam, North Holland, Netherlands",Centrum-West,Private room in houseboat,Private room,1.5 baths,t,2020-07-25
4,2010-05-13,"Amsterdam, Noord-Holland, The Netherlands",100%,87%,t,t,"Amsterdam, North Holland, Netherlands",Centrum-Oost,Private room in apartment,Private room,1 shared bath,f,2020-09-20

In [47]:
df2['host_since'] = pd.to_datetime(df2['host_since'])

In [48]:
df2['host_acceptance_rate'] = df2['host_acceptance_rate'].str.replace('%','')
df2['host_acceptance_rate'] = pd.to_numeric(df2['host_acceptance_rate'])

In [49]:
df2['host_response_rate'] = df2['host_response_rate'].str.replace('%','')
df2['host_response_rate'] = pd.to_numeric(df2['host_response_rate'])

In [50]:
df2['host_response_rate'].isnull().sum()

14354

In [55]:
df2['price'] = df2['price'].str.replace('$','')
df2['price'] = df2['price'].str.replace(',','')
df2['price'] = pd.to_numeric(df2['price'])
df2['price']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0         59.0
1        129.0
2        125.0
3        125.0
4         75.0
         ...
18286    120.0
18287     32.0
18288    250.0
18289     55.0
18290    112.0
Name: price, Length: 18291, dtype: float64

In [61]:
list(df_numeric.columns)

['host_listings_count',
 'host_total_listings_count',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'bathrooms',
 'bedrooms',
 'beds',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'reviews_per_month']

In [114]:
reg_columns = list(df_numeric.columns)
reg_columns.extend(list(df_int.columns))
reg_columns.extend(['price'])
print(reg_columns)

['host_listings_count', 'host_total_listings_count', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'bathrooms', 'bedrooms', 'beds', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'reviews_per_month', 'id', 'scrape_id', 'host_id', 'accommodates', 'minimum_nights', 'maximum_nights', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'price']

In [98]:
X = df2[reg_columns]
y = df2['price']

In [100]:
X

,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,bathrooms,bedrooms,beds,minimum_minimum_nights,maximum_minimum_nights,...,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,1.0,1.0,NaN,52.36575,4.94142,NaN,1.0,2.0,3.0,3.0,...,46,60,139,278,1,0,1,0,1,0
1,2.0,2.0,NaN,52.36509,4.89354,NaN,1.0,1.0,1.0,4.0,...,0,0,0,339,19,0,2,0,2,0
2,2.0,2.0,NaN,52.37297,4.88339,NaN,1.0,1.0,14.0,14.0,...,36,66,251,5,0,0,1,1,0,0
3,1.0,1.0,NaN,52.38761,4.89188,NaN,1.0,1.0,2.0,2.0,...,55,79,136,219,6,0,1,0,1,0
4,2.0,2.0,NaN,52.36610,4.88953,NaN,1.0,1.0,2.0,2.0,...,53,78,338,336,13,0,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18286,1.0,1.0,NaN,52.37768,4.87886,NaN,NaN,2.0,1.0,1.0,...,56,86,86,0,0,0,1,0,1,0
18287,0.0,0.0,NaN,52.35062,4.85184,NaN,1.0,1.0,1.0,1.0,...,9,39,129,0,0,0,1,0,1,0
18288,1.0,1.0,NaN,52.36058,4.90346,NaN,2.0,4.0,4.0,4.0,...,52,82,82,0,0,0,1,1,0,0
18289,1.0,1.0,NaN,52.35551,4.90148,NaN,1.0,2.0,2.0,2.0,...,35,48,48,0,0,0,1,1,0,0
18290,9.0,9.0,NaN,52.37809,4.88564,NaN,1.0,1.0,30.0,30.0,...,55,85,315,0,0,0,12,10,0,2

In [101]:
y.dtypes

dtype('float64')

In [102]:
X.drop(columns = ['neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated', 'license', 'latitude', 'longitude'],\
       axis = 1, inplace = True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [103]:
X

,host_listings_count,host_total_listings_count,bedrooms,beds,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,...,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,1.0,1.0,1.0,2.0,3.0,3.0,1125.0,1125.0,3.0,1125.0,...,46,60,139,278,1,0,1,0,1,0
1,2.0,2.0,1.0,1.0,1.0,4.0,60.0,1125.0,3.8,413.8,...,0,0,0,339,19,0,2,0,2,0
2,2.0,2.0,1.0,1.0,14.0,14.0,180.0,180.0,14.0,180.0,...,36,66,251,5,0,0,1,1,0,0
3,1.0,1.0,1.0,1.0,2.0,2.0,1125.0,1125.0,2.0,1125.0,...,55,79,136,219,6,0,1,0,1,0
4,2.0,2.0,1.0,1.0,2.0,2.0,1825.0,1825.0,2.0,1825.0,...,53,78,338,336,13,0,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18286,1.0,1.0,NaN,2.0,1.0,1.0,365.0,365.0,1.0,365.0,...,56,86,86,0,0,0,1,0,1,0
18287,0.0,0.0,1.0,1.0,1.0,1.0,1125.0,1125.0,1.0,1125.0,...,9,39,129,0,0,0,1,0,1,0
18288,1.0,1.0,2.0,4.0,4.0,4.0,7.0,7.0,4.0,7.0,...,52,82,82,0,0,0,1,1,0,0
18289,1.0,1.0,1.0,2.0,2.0,2.0,12.0,12.0,2.0,12.0,...,35,48,48,0,0,0,1,1,0,0
18290,9.0,9.0,1.0,1.0,30.0,30.0,180.0,180.0,30.0,180.0,...,55,85,315,0,0,0,12,10,0,2

In [104]:
X.isnull().count()

host_listings_count                             18291
host_total_listings_count                       18291
bedrooms                                        18291
beds                                            18291
minimum_minimum_nights                          18291
maximum_minimum_nights                          18291
minimum_maximum_nights                          18291
maximum_maximum_nights                          18291
minimum_nights_avg_ntm                          18291
maximum_nights_avg_ntm                          18291
review_scores_rating                            18291
review_scores_accuracy                          18291
review_scores_cleanliness                       18291
review_scores_checkin                           18291
review_scores_communication                     18291
review_scores_location                          18291
review_scores_value                             18291
reviews_per_month                               18291
id                                              18291
scrape_id                                       18291
host_id                                         18291
accommodates                                    18291
minimum_nights                                  18291
maximum_nights                                  18291
availability_30                                 18291
availability_60                                 18291
availability_90                                 18291
availability_365                                18291
number_of_reviews                               18291
number_of_reviews_ltm                           18291
number_of_reviews_l30d                          18291
calculated_host_listings_count                  18291
calculated_host_listings_count_entire_homes     18291
calculated_host_listings_count_private_rooms    18291
calculated_host_listings_count_shared_rooms     18291
dtype: int64

In [105]:
X.dtypes

host_listings_count                             float64
host_total_listings_count                       float64
bedrooms                                        float64
beds                                            float64
minimum_minimum_nights                          float64
maximum_minimum_nights                          float64
minimum_maximum_nights                          float64
maximum_maximum_nights                          float64
minimum_nights_avg_ntm                          float64
maximum_nights_avg_ntm                          float64
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
reviews_per_month                               float64
id                                                int64
scrape_id                                         int64
host_id                                           int64
accommodates                                      int64
minimum_nights                                    int64
maximum_nights                                    int64
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
dtype: object

In [107]:
X.describe()

,host_listings_count,host_total_listings_count,bedrooms,beds,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,...,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,18228.000000,18228.000000,17294.000000,18186.000000,18288.000000,18288.000000,18288.000000,1.828800e+04,18288.000000,1.828800e+04,...,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000,18291.000000
mean,3.244459,3.244459,1.534405,1.765259,3.683454,3.861494,688.285652,2.355498e+05,3.768269,2.350138e+05,...,12.473621,19.262315,61.923132,24.125198,1.520147,0.023892,2.647477,2.111366,0.476628,0.009404
std,56.575963,56.575963,0.959211,1.444775,16.287296,16.389708,536.932318,2.245690e+07,16.347635,2.240609e+07,...,22.753660,34.282051,115.602325,54.560889,6.552857,0.260227,8.724302,8.545412,1.457147,0.153398
min,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,28.000000,2.800000e+01,2.000000,2.800000e+01,...,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1125.000000,1.125000e+03,2.000000,1.125000e+03,...,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,1.000000,1.000000,2.000000,2.000000,3.000000,3.000000,1125.000000,1.125000e+03,3.000000,1.125000e+03,...,9.000000,18.000000,78.000000,22.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,7235.000000,7235.000000,50.000000,35.000000,1001.000000,1001.000000,11250.000000,2.147484e+09,1001.000000,2.142625e+09,...,60.000000,90.000000,365.000000,859.000000,380.000000,10.000000,85.000000,84.000000,21.000000,5.000000

In [111]:
X_nonull = X.dropna()

In [112]:
X_nonull.isnull()

,host_listings_count,host_total_listings_count,bedrooms,beds,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,...,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18238,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18241,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [116]:
df_reg = df2[reg_columns]
df_reg.drop(columns = ['neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated', 'license', 'latitude', 'longitude'], axis = 1, inplace = True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [117]:
df_reg_nonull = df_reg.dropna()

In [118]:
df_reg_nonull.shape

(14725, 36)

In [124]:
X = df_reg_nonull.drop('price', axis = 1)
X
y = df_reg_nonull['price']
y

0         59.0
1        129.0
2        125.0
3        125.0
4         75.0
         ...
18197     28.0
18198     22.0
18200     24.0
18238     47.0
18241    109.0
Name: price, Length: 14725, dtype: float64

In [149]:

# import the regressor
from sklearn.tree import DecisionTreeRegressor 
  
# create a regressor object
regressor = DecisionTreeRegressor(random_state = 0, max_depth = 6) 
  
# fit the regressor with X and Y data
regressor.fit(X, y)

DecisionTreeRegressor(max_depth=6, random_state=0)

In [150]:
# import export_graphviz
from sklearn.tree import export_graphviz 
  
# export the decision tree to a tree.dot file
# for visualizing the plot easily anywhere
export_graphviz(regressor, out_file ='tree.gif', feature_names = X.columns)

In [151]:
df_reg_nonull['price_pred'] = regressor.predict(X)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [152]:
from sklearn.metrics import r2_score
r2_score(df_reg_nonull['price'], df_reg_nonull['price_pred'])

0.3831322295314247

In [130]:
X.columns

Index(['host_listings_count', 'host_total_listings_count', 'bedrooms', 'beds',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month', 'id', 'scrape_id',
       'host_id', 'accommodates', 'minimum_nights', 'maximum_nights',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

In [132]:
y

0         59.0
1        129.0
2        125.0
3        125.0
4         75.0
         ...
18197     28.0
18198     22.0
18200     24.0
18238     47.0
18241    109.0
Name: price, Length: 14725, dtype: float64

In [133]:
df_reg_nonull[['price', 'price_pred']]

       price  price_pred
0       59.0        59.0
1      129.0       129.0
2      125.0       125.0
3      125.0       125.0
4       75.0        75.0
...      ...         ...
18197   28.0        28.0
18198   22.0        22.0
18200   24.0        24.0
18238   47.0        47.0
18241  109.0       109.0

[14725 rows x 2 columns]

In [143]:
pip install graphviz

Collecting graphviz
  Downloading graphviz-0.16-py2.py3-none-any.whl (19 kB)
Installing collected packages: graphviz
Successfully installed graphviz-0.16
Note: you may need to restart the kernel to use updated packages.

In [144]:
from sklearn import tree
from graphviz import Source
Source(tree.export_graphviz(regressor, out_file=None, feature_names=X.columns))

KeyboardInterrupt: